
/* Navigation Bar */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 5px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}
h1 {
    margin-top: 80px; 
}
body {
    padding-top: 60px; 
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* Menu Button (Burger) */
.menu-btn {
    font-size: 40px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none; 
    transition: transform 0.3s ease-in-out;
    
}


.menu-btn.active {
    transform: rotate(90deg);  /* Rotate to show close effect */
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffcc00;
}


@media screen and (max-width: 768px) {
    .menu-btn {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background: #222;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    .nav-links li {
        padding: 10px 0;
    }

    .nav-links.show {
        display: flex;
    }

    
}



